@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat';
}

.header-wrapper {
    width: 70vw;
    height: 75px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 600;
    font-size: 14px;
}

.social-item {
    padding: 0 45px;
    border-right: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item:hover {
    cursor: pointer;
}

.wallpaper {
    height: 750px;
    width: 100%;
    background-image: url(files/SST_Me-143.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    background-color: #2C94FC;
    height: 60px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.but:hover {
    cursor: pointer;
}

.main-text {
    color: white;
    font-weight: 800;
    font-size: 75px;
    margin-bottom: 120px;
}

.main-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stat-wrapper {
    width: 60vw;
    height: 335px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-stat-text {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.stat-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-stat-text {
    font-weight: 500;
    font-size: 10px;
}

.first-part-wrapper, .second-part-wrapper {
    display: flex;
    width: 65vw;
    margin: 0px auto;
    justify-content: space-between;
}

.second-part-wrapper {
    width: 76vw;
    margin-top: 120px;
}

.number {
    font-size: 20px;
    font-weight: 500;
    width: 250px;
}

.part-title {
    font-size: 30px;
    font-weight: 800;
}

.part-title-number {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 300px;
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.body {
    margin: 0px !important;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    width: 100vw;
}

.logo-1 {
    fill: black;
}

.circle {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-logo {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    margin-top: 1px;
}

.whatsapp-logo {
    width: 16px;
    height: 16px;
}

.viber-logo {
    width: 18px;
    height: 18px;
}

.phone-logo {
    width: 14x;
    height: 14px;
}

.mail-logo {
    height: 14px;
    width: 14px;
}

.facebook-logo, .inst-logo {
    height: 20px;
    width: 20px;
}

