@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

.header-wrapper {
    width: 70vw;
    height: 75px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-text {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 600;
    font-size: 0.8vw;
}

.social-item {
    padding: 0 2vw;
    border-right: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper {
    height: 750px;
    width: 100%;
    background-image: url(files/SST_Me-143.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    background-color: #2C94FC;
    height: 3.1vw;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 0.8vw;
    text-decoration: none;
    cursor: pointer;
}

.main-text {
    color: white;
    font-weight: 800;
    font-size: 4vw;
    margin-bottom: 120px;
}

.main-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.stat-wrapper {
    width: 60vw;
    height: 335px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-stat-text {
    font-weight: 700;
    font-size: 3.4vw;
    margin-bottom: 20px;
    margin-top: 0px;
}

.stat-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-stat-text {
    font-weight: 500;
    font-size: 0.57vw;
}

.first-part-wrapper, .second-part-wrapper {
    display: flex;
    width: 65vw;
    margin: 0px auto;
    justify-content: space-between;
}

.second-part-wrapper {
    width: 76vw;
    margin-top: 120px;
}

.number {
    font-size: 1.15vw;
    font-weight: 500;
    width: 12vw;
}

.part-title {
    font-size: 1.7vw;
    font-weight: 800;
    padding-right: 28px;
}

.part-title-number {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 15.7vw;
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.logo {
    font-weight: 700;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
}

.logo-1 {
    fill: black;
}

.circle {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-logo {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    margin-top: 1px;
}

.whatsapp-logo {
    width: 16px;
    height: 16px;
}

.viber-logo {
    width: 18px;
    height: 18px;
}

.phone-logo {
    width: 14x;
    height: 14px;
}

.mail-logo {
    height: 14px;
    width: 14px;
}

.facebook-logo, .inst-logo {
    height: 20px;
    width: 20px;
}

.a-class {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    color: inherit;
    text-decoration: none;
    transition: color 0.13s ease-in-out;
}

.vorota-menu {
    font-weight: 700;
    display: flex;
    font-size: 14px;
    list-style-type: none;
}

.a-class:hover {
    color:#2C94FC;
}

.fcbk {
    display: flex;
}

.inst-1, .fcbk-1 {
    fill: black;
    transition: fill 0.13s ease-in-out;
}

.social-item.inst:hover .inst-1 {
    fill: #2C94FC;
}

.fcbk:hover .fcbk-1 {
    fill: #2C94FC;
}

.vorota-wrapper {
    max-width: 70vw;
    margin: 0px auto;
    margin-top: 200px;
}

.item-title {
    font-weight: 600;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -30px;
    justify-content: space-between;
    display: none;
}

.vorota-menu-item {
    font-size: 14px;
    font-weight: 700;
}

li {
    list-style-type: none;
    padding: 0 28px;
    color: #a7a7a7;
}

.items:target {
    display: block;
}

.item img {
    width: 100%;
    height: auto;
}

ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.vorota-header {
    display: flex;
    align-items: center;
    margin-right: -28px;
    padding-bottom: 70px;
}

.content-item {
    display: none;
}

.tab-item:hover {
    color: #2C94FC;
}

.content-item.is-active {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32% 32% 32%;
    width: 100%;
    margin: -20px;
    padding: 0 20px;
}

.tab-item {
    cursor: pointer;
    transition: color 0.13s ease-in-out;
}

.tab-item.is-active {
    color: black;
}

.item-line svg {
    height: 24px;
    width: auto;
    padding-right: 15px;
    padding-left: 40px;
}

.item-line, .description-item, .galerea-item {
    display: flex;
    align-items: center;
}

.item-line {
    justify-content: left;
    margin-left: -40px;
}

.item {
    width: 100%;
}

#scroll {
    position: fixed;
    bottom: 100px;
    left: 70px;
    z-index: 999;
    cursor: pointer;
}

#scroll svg {
    height: 3vw;
    width: 3vw;
}

.btn {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.btn_show {
    opacity: 1;
    visibility: visible;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 2;
}

.pop-up-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up-body {
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 80px 15px;
    position: relative;
}

.pop-up-body input:focus {
    outline-color: #2C94FC;
}

.pop-up-body p {
    font-weight: 700;
    text-align: left;
}

.pop-up-body input {
    display: block;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
}

.pop-up-body button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 80px auto 0px auto;
    padding: 20px 0px;
    background-color: #2C94FC;
    border-radius: 10px;
    border: none;
    color: white;
    transition: background-color 0.13s ease-in-out;
}

.pop-up-body button:hover {
    background-color: #2189f1;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

form label {
    text-align: left;
    font-weight: 600;
    margin: 45px 0px 20px;
}

.pop-up-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.pop-up.active {
    opacity: 1;
    visibility: visible;
}

body {
    margin: 0px;
    padding-right: 0px;
}

body.lock {
    overflow: hidden;
}

.ok-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 75px);
    flex-direction: column;
}

.fa-solid {
    color: white;
    font-size: 35px;
}

.green-circle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #00b87f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.come-back {
    color: #2189f1;
    text-decoration: none;
    margin-top: 0px;
    font-size: 0.8vw;
}

.call-back {
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.fa-xmark {
    color: black;
    font-size: 20px;
    transition: color 0.13s ease-in-out;
}

.fa-xmark:hover {
    color: #2189f1;
}

