@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: 'Gilroy-Extra-Bold';
    src: url('../fonts/gilroy-extra-bold/Gilroy-ExtraBold.eot');
    src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy-extra-bold/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/gilroy-extra-bold/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/gilroy-light/Gilroy-Light.eot');
    src: url('../fonts/gilroy-light/Gilroy-Light.eot') format('embedded-opentype'),
    url('../fonts/gilroy-light/Gilroy-Light.woff') format('woff'),
    url('../fonts/gilroy-light/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.footer {
    background: url(Pamiar-homepage.png);
    width: 100%;
    height: 844px;
    position: absolute;
}

.main-text-item {
    width: 1074px;
    height: 158px;
    left: 307px;
    top: 229px;
    position: relative;
}

.white {
    color: #fff;
}

.main-text {
    font-family: Gilroy-Extra-Bold;
    font-size: 70px;
    line-height: 72.4px;
}

.mini-main-text-item {
    width: 531px;
    height:74px;
    left: 307px;
    top: 293px;
    position: relative;
}

.mini-main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 59px;
    background-color: #2C94FC;
    position: relative;
    left: 307px;
    top: 384px;
    cursor: pointer;
}

.main-button-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.header {
    height: 844px;
}

.title-container {
    height: 49px;
    display: flex;
    justify-content: space-between;
}

.title-text {
    font-family: Gilroy-Extra-Bold;
    font-size: 40px;
}

.title-item {
    width: auto;
    display: flex;
    align-items: center;
}

.mini-wrapper {
    width: 64vw;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showall {
    font-family: 'Gilroy-Light';
    font-size: 16px;
    cursor: pointer;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.menu-text {
    font-family: Gilroy-Extra-Bold;
    font-size: 16px;
}

.menu {
    display: flex;
}

.menu-container {
    align-items: center;
    position: relative;
    padding-left: 307px;
    padding-right: 332px;
    top: 53.72px;
    display: flex;
    justify-content: space-between;
}

.custom-link {
    text-decoration: none;
    color: inherit;
}

.ec-minicart__icon {
    color: #fff !important;
}

.advantages__itemButton {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 32px;
    transition: all ease .25s;
}

.advantages__items {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.advantages__item {
    padding-top: 96.28px;
    flex: 0 0 calc(33.33333% - 44px);
    max-width: calc(33.33333% - 44px);
}

.advantages__item + .advantages__item {
    padding-left: 66px;
}

.map {
    display: flex;
    width: 929px;
    height: 496px;
}

.otzyv {
    margin-top: 110px;
    width: 426px;
    cursor: pointer;
}

.otzyv-header {
    display: flex;
    align-items: center;
    height: auto;
}

.quotemarks {
    width: 35.42px;
    height: 25px;
}

.quotemarks-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.for-justify {
    display: flex;
    height: 122px;
    align-items: flex-start;
}

.swiper {
    width: calc(100vw - 18vw - 8px);
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}

.button-prev + .button-next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-info {
    margin-left: 50.64px;
}

.map-wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 110px;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 59px;
    background-color: #2C94FC;
    cursor: pointer;
}

.arrow {
    height: 16px;
    width: 20px;
    cursor: pointer;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__items {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: -20px 0;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.logo-in-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active.collapsible::before {
    content: 'Заверни обратно блять';
}
  
.collapsible::before {
    content: 'Показать всё';
}
  
.logo__transition {
    transition: all ease 0.25s;
  
}

/*/////////////////////*/
/*LOGO SIZES*/
/*/////////////////////*/

.kfc-logo {
    width: auto;
    height: 69px;
}

.velesmit-logo {
    width: auto;
    height: 69px;
}

.belmarket-logo {
    width: auto;
    height: 69px;
}

.garage-logo {
    width: auto;
    height: 40px;
}

.volna-logo {
    width: auto;
    height: 28px;
}

.smarton-logo {
    width: auto;
    height: 43px;
}

.tn-logo {
    width: auto;
    height: 40px;
}

.mf-logo {
    width: auto;
    height: 40px;
}

.gefest-logo {
    width: auto;
    height: 38px;
}

.greatstone-logo {
    width: 45px;
    height: auto;
}

.sparo-logo {
    width: auto;
    height: 69px;
}

.shugar-logo {
    width: auto;
    height: 69px;
}

.belorusneft-logo {
    width: auto;
    height: 69px;
}

.mcdonalds-logo {
    width: auto;
    height: 69px;
}

.metro-logo {
    width: auto;
    height: 69px;
}

.abc-logo {
    width: auto;
    height: 57px;
}

.grad-logo {
    width: auto;
    height: 79px;
}

.hippo-logo {
    width: auto;
    height: 20px;
}

.euroopt-logo {
    width: auto;
    height: 25px;
}

.sosedi-logo {
    width: auto;
    height: 25px;
}

.vitalur-logo {
    width: auto;
    height: 25px;
}

.green-logo {
    width: auto;
    height: 40px;
}

/*/////////////////////*/
/*LOGO COLORS*/
/*/////////////////////*/

/*////////*/
/*MARK FORMELLE LOGO*/
/*////////*/

.mf-logo:hover .mf-logo-1 {
    fill:#a8218d;
}

.mf-logo:hover .mf-logo-2 {
    fill:#242021;;
}

.mf-logo-1 {
    fill: #555555;
}

.mf-logo-2 {
    fill:  #212121;
}

/*////////*/
/*VOLNA LOGO*/
/*////////*/

.volna-logo:hover .fill2 {
    fill:#E31E24;
}

.volna-logo:hover .fill0 {
    fill:#187546;
}

.volna-logo:hover .fill3 {
    fill:#60AF51;
}

.volna-logo:hover .fill4 {
    fill:#187546;fill-rule:nonzero;
}

.volna-logo:hover .fill1 {
    fill:#60AF51;fill-rule:nonzero;
}

.fill0 {
    fill: #545454;
}

.fill2 {
    fill: #5A5A5A;
}

.fill3, .fill1 {
    fill: #8D8D8D;
}

/*////////*/
/*GEFEST LOGO*/
/*////////*/

.gefest-logo:hover .gefest-logo-1 {
    fill:#cc2229;
}

.gefest-logo {
    fill: #565656;
}

/*////////*/
/*CAFE GARAGE LOGO*/
/*////////*/

.garage-logo:hover .garage-logo-1 {
    fill:#121922;
}

.garage-logo:hover .garage-logo-2 {
    fill:#f23109;
}

.garage-logo-1 {
    fill: #181818;
}

.garage-logo-2 {
    fill: #666666;
}

/*////////*/
/*TEHNO NIKOL LOGO*/
/*////////*/

.tn-logo:hover .tn-logo-1 {
    fill:#fb0008;
}

.tn-logo-1 {
    fill: #4C4C4C;
}

/*////////*/
/*SMARTON LOGO*/
/*////////*/

.smarton-logo:hover .smarton-logo-1 {
    fill:#e62448;
}

.smarton-logo:hover .smarton-logo-2 {
    fill:#2b2a29;
}

.smarton-logo-1 {
    fill:#626262;
}

.smarton-logo-2 {
    fill:#2A2A2A;
}

/*////////*/
/*BELMARKET LOGO*/
/*////////*/

.belmarket-logo:hover .belmarket-logo-1{
    fill:#95c02b;
}

.belmarket-logo:hover .belmarket-logo-2{
    fill:#749627;
}

.belmarket-logo-1 {
    fill: #A3A3A3;
}

.belmarket-logo-2 {
    fill: #808080;
}


/*////////*/
/*GREATSTONE LOGO*/
/*////////*/

.greatstone-logo:hover .greatstone-logo-1 {
    fill:#03a0df;
}

.greatstone-logo-1 {
    fill: #787878;
}

.greatstone-logo-2 {
    fill: #2B2B2B;
}

.greatstone-logo:hover .greatstone-logo-2 {
    fill:#2e2b27;
}

/*////////*/
/*KFC LOGO*/
/*////////*/

.kfc-logo-1 {
    fill: #373737;
}

.kfc-logo-2 {
    fill: #f4f4f4;
}

.kfc-logo-3 {
    fill: #fff;
}

.kfc-logo-4 {
    fill: none;
}

.kfc-logo-5 {
    fill: #dbdbdb;
}

.kfc-logo:hover .kfc-logo-1 {
    fill: #a3080c;
}

.kfc-logo:hover .kfc-logo-2 {
    fill: #fff1e2;
}

.kfc-logo:hover .kfc-logo-3 {
    fill: #ffffff;
}

.kfc-logo:hover .kfc-logo-4 {
    fill: none;
}

.kfc-logo:hover .kfc-logo-5 {
    fill: #f5d4b7;
}

/*////////*/
/*VELESMIT LOGO*/
/*////////*/

.velesmit-logo:hover .velesmit-logo-1 {
    fill:#125c1d;
}

.velesmit-logo-1 {
    fill: #3F3F3F;
}

/*////////*/
/*SPARO LOGO*/
/*////////*/

.sparo-logo-1 {
    fill: #595959;
}
    
.sparo-logo-2 {
    fill: #666;
}

.sparo-logo-3 {
    fill: #757575;
}

.sparo-logo-4 {
    fill: #a5a5a5;
}

.sparo-logo-5 {
    fill: #5c5c5c;
}

.sparo-logo-6 {
    fill: #545454;
}

.sparo-logo-7 {
    fill: #505050;
}

.sparo-logo-8 {
    fill: #4c4c4c;
}

.sparo-logo-9 {
    fill: #5d5d5d;
}

.sparo-logo:hover .sparo-logo-1 {
    fill: #018a43;
}

.sparo-logo:hover .sparo-logo-2 {
    fill: #ec264c;
}

.sparo-logo:hover .sparo-logo-3 {
    fill: #b45869;
}

.sparo-logo:hover .sparo-logo-4 {
    fill: #d19295;
}

.sparo-logo:hover .sparo-logo-5 {
    fill: #eb1c2e;
}

.sparo-logo:hover .sparo-logo-6 {
    fill: #e51a2e;
}

.sparo-logo:hover .sparo-logo-7 {
    fill: #f90f33;
}

.sparo-logo:hover .sparo-logo-8 {
    fill: #e01625;
}

.sparo-logo:hover .sparo-logo-9 {
    fill: #fb142a;
}

/*////////*/
/*SHUGAR LOGO*/
/*////////*/

.shugar-logo-1 {
    fill: #464646;
}

.shugar-logo:hover .shugar-logo-1 {
    fill: #3a3e91;
}

/*////////*/
/*BELORUSNEFT LOGO*/
/*////////*/

.belorusneft-logo-1 {
    fill: #6e6e6e;
}

.belorusneft-logo-2 {
    fill: #fafafa;
}

.belorusneft-logo-3 {
    fill: #6f6f6f;
}

.belorusneft-logo-4 {
    fill: none;
    stroke: #6e6e6e;
    stroke-miterlimit: 10;
    stroke-width: 1.98px;
}

.belorusneft-logo:hover .belorusneft-logo-1 {
    fill: #04a953;
}

.belorusneft-logo:hover .belorusneft-logo-2 {
    fill: #f7fcfa;
}

.belorusneft-logo:hover .belorusneft-logo-3 {
    fill: #e74024;
}

.belorusneft-logo:hover .belorusneft-logo-4 {
    stroke: #04a953;
}

/*////////*/
/*MCDONALDS LOGO*/
/*////////*/

.mcdonalds-logo-1 {
    fill: #666;
}

.mcdonalds-logo:hover .mcdonalds-logo-1 {
    fill: #fc0;
}

/*////////*/
/*METRO LOGO*/
/*////////*/

.metro-logo-1,
.metro-logo-3 {
    fill: none;
}

.metro-logo-1,
.metro-logo-2 {
    stroke: #484848;
}
    
.metro-logo-1,
.metro-logo-2,
.metro-logo-3,
.metro-logo-4 {
    stroke-miterlimit: 68.71;
    stroke-width: 17.18px;
}

.metro-logo-2 {
    fill: #484848;
}

.metro-logo-3,
.metro-logo-4 {
    stroke: #fff;
}

.metro-logo-4 {
    fill: #fff;
}

.metro-logo:hover .metro-logo-1 {
    stroke: #b41a14;
}

.metro-logo:hover .metro-logo-2 {
    stroke: #b41a14;
    fill: #b41a14;
}

/*////////*/
/*ABC LOGO*/
/*////////*/

.abc-logo-1 {
    fill: #696969;
}

.abc-logo-2 {
    fill: #474747;
}

.abc-logo:hover .abc-logo-1 {
    fill: #01a737;
}

.abc-logo:hover .abc-logo-2 {
    fill: #de0124;
}

/*////////*/
/*GRAD LOGO*/
/*////////*/

.grad-logo-1 {
    fill: #424242;
}

.grad-logo:hover .grad-logo-1 {
    fill: #1d4888;
}

/*////////*/
/*HIPPO LOGO*/
/*////////*/

.hippo-logo-1 {
    fill: #878787;
}

.hippo-logo-2 {
    fill: #878787;
}

.hippo-logo-3 {
    fill: #b4b4b4;
}

.hippo-logo:hover .hippo-logo-1 {
    fill: #ec6a12;
}

.hippo-logo:hover .hippo-logo-2 {
    fill: #ec6a13;
}

.hippo-logo:hover .hippo-logo-3 {
    fill: #c9cb01;
}

/*////////*/
/*EUROOPT LOGO*/
/*////////*/

.euroopt-logo-1 {
    fill: #a6a6a6;
}

.euroopt-logo:hover .euroopt-logo-1 {
    fill: #8dc640;
}

/*////////*/
/*SOSEDI LOGO*/
/*////////*/

.sosedi-logo-1 {
    fill: #646464;
}

.sosedi-logo-2 {
    fill: #828282;
}

.sosedi-logo-3 {
    fill: #646464;
}

.sosedi-logo:hover .sosedi-logo-1 {
    fill: #0283c9;
}

.sosedi-logo:hover .sosedi-logo-2 {
    fill: #e95f22;
}

.sosedi-logo:hover .sosedi-logo-3 {
    fill: #0383c9;
}

/*////////*/
/*VITALUR LOGO*/
/*////////*/

.vitalur-logo-1 {
    fill: #444;
}

.vitalur-logo:hover .vitalur-logo-1 {
    fill: #333f8e;
}

/*////////*/
/*GREEN LOGO*/
/*////////*/

.green-logo-1 {
    fill: #282828;
}

.green-logo-2 {
    fill: #c6c6c6;
}

.green-logo-3 {
    fill: #484848;
}

.green-logo-4 {
    fill: #656565;
}

.green-logo:hover .green-logo-1 {
    fill: #282828;
}

.green-logo:hover .green-logo-2 {
    fill: #ffce00;
}

.green-logo:hover .green-logo-3 {
    fill: #ef0000;
}

.green-logo:hover .green-logo-4 {
    fill: #0da018;
}
